.vscode/**
.vscode-test/**
src/**
out/**
esbuild.js
tsconfig.json
node_modules/**
.gitignore
.gitattributes
**/*.map
.eslintrc.js
**/.eslintrc.json
**/*.vsix
vsc-extension-quickstart.md
**/jsconfig.json
**/*.tsbuildinfo
**/.DS_Store
.github/**
.pipelines/**
test-workspace/**
*.log
.npmrc
**/*.md
!README.md
CODE_OF_CONDUCT.md
SECURITY.md
SUPPORT.md